.footer {
    padding-block: 50px;
    background-color: $secondary-color;
    color: white;
    font-size: 16px;

    h5 {
        color: white;
    }

    h4 {
        margin-bottom: 0.5rem;
    }

    &__container {
        flex-wrap: wrap;
        --gap: 2rem;
        justify-content: space-between;
    }

    &__details {
        max-width: 200px;

        h3 {
            margin-bottom: 0.5rem;
        }

        p {
            margin-top: 0.25rem;
        }
    }

    &__links {
        max-width: 200px;
        --gap: 1rem;

        &-list {
            flex-wrap: wrap;
            --gap: 0.5rem;
        }
    }

    &__socials {
        --gap: 1rem;
    }
}