.hero {
    height: calc(100vh - 120px);
    align-items: center;
    position: relative;

    &__content {
        width: 100%;

        @include media-medium-and-large  {
            text-align: center;
            margin-inline: auto;
            margin-top: -120px;
        }

        @include media-min($mq-medium) {
            width: 80%;
        }

        h1 {
            color: $primary-color;
        }

        h3 {
            color: $secondary-color;
        }

        p {
            width: 90%;

            @include media-min($mq-medium) {
                width: 75%;
            }
            @include media-min($mq-large) {
                width: 60%;
            }
            @include media-medium-and-large  {
                margin-inline: auto;
            }
        }
    }

    &__socials {
        @include media-medium-and-large  {
            justify-content: center;
        }
    }

    &__socials a {
        --flow-space: 0;

        @include transition;

        &:hover {
            color: $primary-color;
        }
    }

    &__scroll {
        position: absolute;
        bottom: 1rem;
        margin-inline: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-color: transparent;
        color: $primary-color;

        @include media-medium-and-large {
            bottom: 5rem;
        }
        @include media-min($mq-large) {
            bottom: 2rem;
        }
    }
}