$primary-color: rgb(116, 127, 224);
$secondary-color: rgb(82, 95, 127);
$tertiary-color: rgb(246, 249, 252);

$primary-color-dark: rgb(105, 25, 255);
$secondary-color-dark: rgb(15, 25, 34);
$tertiary-color-dark: rgb(184, 168, 214);